<section ng-controller="PanelController as panel">
<ul class="nav nav-pills pull-right"> <!-- navbar to the right -->
 <!-- if true, set class to "active"              show the page    name for every tab-->
  <li ng-class="{active: panel.isSelected(1)}"><a ui-sref="home" ng-click="panel.selectTab(1)">Home</a></li> 
  <li ng-class="{active: panel.isSelected(2)}"><a ui-sref="register" ng-click="panel.selectTab(2)">Register</a></li>
   <!-- <li><a href="#/contact">Contact</a></li> -->
</ul>
</section>